
.butalign {
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 30px  
}


.form-element{
  width: 500px;
}
.add-comp-container{
  padding: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerAll {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100%;
  width: 100px;
}

.example-large-box {
  height: 100%;
  width: 300px;
}

.example-container {
  width: 100%;
  min-height: 700px;
  height: 100%;
  margin: 10px;
  background-color: lightgray;
  border: 1px solid #555;
}
