.form-element {
  flex: 1;
  margin-right: 10px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.button-row {
  display: flex;
  justify-content: flex-end;
}

.add-comp-container {
  padding: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerAll {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}
