<div cdkDropListGroup>
  <div class="example-container">
    <h2>Available Kits</h2>
    <!--
    <button mat-raised-button color="primary" (click)="runIt0()">Run 2</button>
    <pre>
 {{ result | json }}
     </pre
    >
    &nbsp; -->
    <button mat-raised-button color="primary" (click)="filterItems()">
      Filter Kits
    </button>
    &nbsp;

    <mat-form-field class="example-form-field">
      <mat-label>Filter text...</mat-label>
      <input matInput type="text" [(ngModel)]="filterText" />
      <button
        *ngIf="filterText"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="filterText = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- <input [(ngModel)]="filterText"
     type="text" placeholder="Filter text..." />
      -->

      <div  class="overflow">
    <div
      cdkDropList
      [cdkDropListData]="items"
      class="example-list"
      cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of items" cdkDrag>
        {{ item.kitCode }} &nbsp;:&nbsp; {{ item.name }} 
        
      </div>
    </div>
  </div>



  </div>

  <div class="example-container2">
    <h2>Selected Kits</h2>
    <button
      style="margin: 10px 0 20px 0"
      mat-raised-button
      color="primary"
      (click)="emptyBasket()"
    >
      Empty
    </button>


    <div  class="overflow">

    <div
      cdkDropList
      [cdkDropListData]="basket"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of basket" cdkDrag>
        {{ item.kitCode }} &nbsp;:&nbsp; {{ item.name.substring(0,31) }} 
        <span>
          Qty:
          <input style="width:60px" [(ngModel)]="item.count" type="number" min="0" />
        </span>
      </div>
    </div>
  </div>




    
  </div>

  <div class="example-container">
    <h2>Execution</h2>
     
    <div>
     <mat-radio-group   class="example-radio-group"  [(ngModel)]="execType" name="execType">
      <span>Stock execution type: &nbsp;</span> 
      <mat-radio-button style="margin:0" class="example-radio-button" *ngFor="let season of seasons" [value]="season">
      {{season}}   &nbsp; 
     </mat-radio-button>
  </mat-radio-group>
     </div>

     <div>
    <button mat-raised-button color="primary" [disabled]="!execType" (click)="runIt()"> Preview for {{execType}} Kits </button>
    &nbsp;
    <button mat-raised-button color="accent" [disabled]="!result.length" (click)="runPreview()"> Comit results</button>
  </div>
    &nbsp;
    <br>
    <br> 
<!-- 
    <mat-form-field class="example-form-field">
      <mat-label>Enter run name...</mat-label>
      <input matInput type="text" [(ngModel)]="filterText" />
      <button
        *ngIf="filterText"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="filterText = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field> -->

    <div>
      <div class="example-box">
        <div [hidden]="!result.length">
          {{result|json}}
        </div>
        <div [hidden]="result.length">
          No result/Results Commited
        </div>
      </div>
    </div>
  </div>
</div>
