<b>COMPONENT</b>

<div class="centerhead">
  <a mat-raised-button color="primary" routerLink="/kitmain/app-compadd">Add</a>
</div>

&nbsp;

<div class="container allstudents-container">
  <table mat-table [dataSource]="allComps" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Code</th>
      <td mat-cell *matCellDef="let element">{{ element.compCode }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.compName.substring(0,15) }}</td>
    </ng-container>


    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef>Count</th>
      <td mat-cell *matCellDef="let element">{{ element.CurrentQty }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/kitmain', 'app-compupdate', element.id]">
          <!-- <a mat-raised-button color="primary" routerLink="/kitmain/app-compadd">Add</a> -->

          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="edit"
          >
          </mat-icon>
        </a>
        <mat-icon
          (click)="openDeleteModal(element.id)"
          aria-hidden="false"
          aria-label="Example delete icon"
          fontIcon="delete"
        >
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
 
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
